rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso público a todas las colecciones
    // ya que no usamos autenticación en esta app
    match /{document=**} {
      allow read, write: if true;
    }
  }
}

